<div class="container bdr d-flex justify-content-around">
  <img class="m-2" src="{{product.image}}">
  <div class="m-4">
    <h3>{{product.name}}</h3>
    <span class="text-muted" >{{product.spec}}</span>
  </div>
  <div class="m-4">
    <div>Delivery by Mon Oct 3 | Free Delivery</div>
    <div class="text-muted">10 Days Replacement Policy</div>
  </div>
  <div class="m-5 p-5">
    <h2>₹{{product.price}}</h2>
  </div>

</div>
<hr class="mt-3">
<div class="size text-center text-muted"><i class="material-icons size">copyright</i><span>&nbsp;2019, Shopping Site, Chandigarh</span></div>
