img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shd {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grow {
  transition: width 2s;
}
img:hover {
  width: 130px;
  height: 210px;
}
