<nav class="navbar navbar-expand-sm bg-primary fixed-top justify-content-between">
  <a class="navbar-brand text-white" routerLink="/home">Shopping Site</a>
  <div class="search-container d-flex">
    <input class="p-1" type="text" placeholder="Search for products" name="search" size="50">
    <button class="btn btn-secondary" type="submit">Search</button>
  </div>
  <div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/login"><i class="material-icons">person</i><span style="vertical-align: top">Login</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/signup"><i class="material-icons">person_outline</i><span style="vertical-align: top">Signup</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/mycart"><i class="material-icons">shopping_cart</i><span style="vertical-align: top">Cart</span></a>
    </li>
  </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-sm color justify-content-center mt-5 pt-3">
  <ul class="navbar-nav">
    <li class="nav-item" style="min-width: 150px">
      <a class="nav-link text-dark" routerLink="/home">Home</a>
    </li>
    <li class="nav-item" style="min-width: 150px">
      <a class="nav-link text-dark" href="#">Books</a>
    </li>
    <li class="nav-item" style="min-width: 150px">
      <a class="nav-link text-dark" href="#">Electronis</a>
    </li>
    <li class="nav-item" style="min-width: 150px">
      <a class="nav-link text-dark" href="#">Fashion</a>
    </li>
    <li class="nav-item" style="min-width: 150px">
      <a class="nav-link text-dark" href="#">Sports</a>
    </li>
  </ul>
</nav>
