<!--<app-nav-bar></app-nav-bar>-->
<div class="row mx-0 color">
  <div class="col-2 bdr-top pt-3">
    <form>
      <div>
        <label>Price:</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="range1"> Less than ₹500</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="range2"> ₹500 - ₹1000 </label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="range3"> ₹1000 - ₹2000 </label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="range4"> more than ₹2000 </label>
      </div>
    </form>
  </div>

  <div class="col-10 bdr-top-left">
    <app-product-list></app-product-list>
  </div>
  <!--<div>
    <hr class="mt-2">
    <div class="size text-center text-dark"><i class="material-icons size">copyright</i><span>&nbsp;2019, Shopping Site, Chandigarh</span></div>
  </div>-->
</div>
